<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" class="blue">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Fuck My Technology |{% block page-title %}{% endblock %} Go ahead, vent your heart out (tm)</title>

	<link rel="stylesheet" href="{{ MEDIA_URL }}/stylesheets/styles.css" type="text/css" media="screen" />
	<script src="{{ MEDIA_URL }}/javascripts/jquery.js" type="text/javascript" charset="utf-8"></script>
	<script src="{{ MEDIA_URL }}/javascripts/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
    $(function(){
        $("#colorswitch").click(function(event){
          event.preventDefault();
          $("html").toggleClass("blue").toggleClass("red");
        });
        
        $("#titleswitch").click(function(event){
          event.preventDefault();
          $("html body h1").toggleClass("safe");
          $("#titleswitch").toggleClass("safe");
        });
    });
    </script>
</head>

<body id="{% block body-id %}{% endblock %}">
	<div id="wrapper">
		<div id="header">
			<h1 title="Fuck My Technology" class="safe">fuck my technology</h1>
			
			<button id="colorswitch">toggle colors</button>
			<button id="titleswitch" class="safe">toggle title</button>
		</div>
		<div id="introduction">
		{% block introduction %}{% endblock %}
		</div>
		
		{% block content %}
		{% endblock %}
		
		<div id="sidebar">
		    <h3 id="about" class="first">what in the sam hill is this thing?</h3>
		    <p>This is essentially the result of a designer who had one too many bad days with his precious bits of technology, and snapped.</p>
		    <p>And you thought <em>Bill Bixby</em> was scary when he got angry...</p>
		    
		    <h3 id="referrals">technology you'll grow to hate</h3>
		    <ul>
                <li><a href="http://dreamhost.com/r.cgi?webgraph">&raquo; Dreamhost</a></li>
                <li><a href="http://mediatemple.net/.from/webgraph.com">&raquo; MediaTemple</a></li>
                <li><a href="http://www.basecampHQ.com/?referrer=DANRUBIN">&raquo; Basecamp</a></li>
                <li><a href="http://www.backpackIT.com/?referrer=DANRUBIN">&raquo; Backpack</a></li>
            </ul>
		    {% comment %}
			<h3 id="dashboardwidget">get the dashboard widget</h3>
			<img class="promo" src="{{ MEDIA_URL }}/images/promo_dashboardwidget_comingsoon.png" width="204" height="74" alt="coming soon: dashboard widget" />
			
			<h3 id="textlinkads">sponsored links</h3>
			<ul>
				<li><a href="">&raquo; Link text here from text-ads</a></li>
				<li><a href="">&raquo; Link text here from text-ads</a></li>
				<li><a href="">&raquo; Link text here from text-ads</a></li>
				<li><a href="">&raquo; Link text here from text-ads</a></li>
				<li><a href="">&raquo; Link text here from text-ads</a></li>
				<li><a href="">&raquo; Link text here from text-ads</a></li>
				<li><a href="">&raquo; Link text here from text-ads</a></li>
				<li><a href="">&raquo; Link text here from text-ads</a></li>
			</ul>
			{% endcomment %}
		</div>
		
		<div id="footer" class="clearfix">
			<p>Imagined and brought to life by <a href="http://superfluousbanter.org/">SuperfluousBanter</a>. All rights reserved. Copy this site and I&rsquo;ll fuck *your* technology&hellip;</p>
			<p id="feed"><a href="">Feed</a></p>
		</div>
	</div>
</body>
</html>
