{% extends "base.html" %}

{% block introduction %}
			<p>You know those days when some piece of tech you own screws up your entire life? Maybe your cell phone drops a call, your car remote stops working, your PC (or Mac) decides you didn&rsquo;t need to save any of your email, or your GPS decides to really tell you where to go?</p>
			<p>This site is for those days&mdash;instead of going postal, just tell us your current techno-item of choice, and what it did to you this time, and just like that, it&rsquo;ll be added to the Wall of Frustration. And trust us, reading about what technology is doing to other people can do wonders for your mood&hellip;</p>
{% endblock %}

{% block content %}
		<div id="tellushowyoufeel">
			<h2>tell us how you feel...</h2>
			<form action="index_submit" method="post">
				<table>
					<tr>
						<td class="column1">
							<label for="complaint" class="complaint">Enter your complaint</label>
							<span><textarea id="complaint"></textarea></span>
						</td>
						<td class="column2">
							<label for="technology" class="technology">The technology in question</label>
							<span><input type="text" id="technology" class="text" /></span>
							
							<label for="yourname" class="yourname">Your name (optional)</label>
							<span><input type="text" id="yourname" class="text" /></span>
						</td>
					<tr>
					<tr>
						<td class="column1">
							<p class="note">Note: Anything you say cannot and will not be held against you in any way. Promise. So what are you waiting for?</p>
						</td>
						<td class="column2">
							<input id="submit" type="image" src="{{ MEDIA_URL }}/images/button_blue_submit.png" />
						</td>
					<tr>
				</table>
			</form>
		</div>
		
		<div id="walloffrustration">
			<h2>wall of frustration</h2>
			{% for complaint in latest %}
			<dl>
				<dt>On {{ complaint.published|date:"F jS, Y"}} <strong>{% if complaint.name %}{{ complaint.name }}{% else %}Anonymous{% endif %}</strong> posted this about their <strong>{{ complaint.technology }}</strong>:</dt>
				<dd><p>{{ complaint.complaint }}</p></dd>
			</dl>			
			{% endfor %}
		</div>
{% endblock %}
