{% extends "base.html" %}

{% block body-id %}archive{% endblock %}

{% block introduction %}
			<p>The last thing we want is for you to be pissed off at <em>this</em> site, so we've made all the old complaints available for your perusal.</p>
			<p>So take your time and read through everyone else's problems, and take solace in the fact that you're not the only one being screwed over by the technology age (or <a href="/">return to the homepage</a>).</p>
{% endblock %}

{% block content %}
        {% autopaginate complaint_list 25 %}
		<div id="walloffrustration">
			<h2>wall of frustration (archive)</h2>
			{% for complaint in complaint_list %}
			<dl class="{% cycle '' 'alt' %}">
				<dt>On {{ complaint.published|date:"F jS, Y"}} <strong>{% if complaint.name %}{{ complaint.name }}{% else %}Anonymous{% endif %}</strong> posted this about <strong>{{ complaint.technology }}</strong>:</dt>
				<dd><p>{{ complaint.complaint }}</p></dd>
			</dl>			
			{% endfor %}
		</div>
		{% paginate %}
{% endblock %}